<article>
    <h1 id="about-header">About us</h1>
    <p>Team Demon's Biostore is a project for an online-based store, which was designed with educational purposed in Telerik Academy by Boyan Michev, Stefan Manev and Yuri Ivanov.</p>
</article>