<div id="arr">
    <ul id="arr-navigation">
        <li id="first-arr"><a href="#" class="btn">Arrange products by price</a></li>
        <li id="second-arr"><a href="#" class="btn">Arrange products by price (descending)</a></li>
        <li id="third-arr"><a href="#" class="btn">Arrange products by name</a></li>
        <li><a href="#" class="btn">Arrange products by name(descending)</a></li>
    </ul>
</div>
<div id="main-container">
    {{#each cosmetics}}
    <div class="gallery col-sm-4 col-md-3">
        <img class="main-image img-responsive" src="{{img}}" />
        <div class="img-title">
            <h3>{{product}}</h3>
        </div>
    </div>
    {{/each}}
</div>