<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext"><span>1 / 3</span></div>
        <img class="slide-show-image" src="https://previews.123rf.com/images/subbotina/subbotina1209/subbotina120900112/15426993-Healthy-Organic-Vegetables-Bio-Food-Stock-Photo.jpg">
        <div class="text"><span>Caption Text One</span></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"><span>2 / 3</span></div>
        <img class="slide-show-image" src="http://biofood.se/wp-content/uploads/naturfamiljen.jpg">
        <div class="text"><span>Caption Text Two</span></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"><span>3 / 3</span></div>
        <img class="slide-show-image" src="http://media.mercola.com/ImageServer/Public/2014/July/organic-food-fb.jpg">
        <div class="text"><span>Caption Text Three</span></div>
    </div>

    </brs>

    <div class="dot-container">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>

</div>


