<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="https://previews.123rf.com/images/subbotina/subbotina1209/subbotina120900112/15426993-Healthy-Organic-Vegetables-Bio-Food-Stock-Photo.jpg" style="width:100%" height="600px">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="http://biofood.se/wp-content/uploads/naturfamiljen.jpg" style="width:100%" height="600px">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="http://media.mercola.com/ImageServer/Public/2014/July/organic-food-fb.jpg" style="width:100%" height="600px">
  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

