<div class="sign-form">
    <h3 class="form-login form-header" id="login-form-header">Sign In Form</h3>
    <form id="sign-in">
        <input placeholder="Email" class="form-login form-control" id="tb-email"/>
        <input placeholder="Password" type="password" class="form-login form-control" id="tb-password"/>
        <button id="btn-login" class="form-login btn">Sign In</button>
    </form>
</div>