<form action="#/account/login" method="POST">
    <label for="email">Email</label>
    <br/>
    <input name="email" type="email" id="email">
    <br/>
    <label for="password">Password</label>
    <br/>
    <input name="password" type="password" id="password">
    <br/><br/>
    <button type="submit" class="btn btn-success">Login</button>
    <br/><br/>
</form>