<div class="sign-form">
    <h3 class="form-register form-header">Sign Up Form</h3>
    <form id="sign-up">
        <input placeholder="Username" class="form-register form-control" id="tb-newUsername"/>
        <input placeholder="Email" type="email" class="form-register form-control" id="tb-newEmail"/>
        <input placeholder="Password" type="password" class="form-register form-control" id="tb-newPassword"/>
        <input placeholder="Confirm Password" type="password" class="form-register form-control" id="tb-newPasswordRepeated"/>
        <button id="btn-register" class="form-register btn">Sign Up</button>
    </form>
</div>