body, div, nav, main, ul, li, form, input, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Edge horizontal scrollbar bug fix */

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Variane Script';
    src: url(../fonts/variane_script.ttf);
}

body {
    background-color: #D1BEA9;
}

#wrapper {
    background-color: #B49B7F;
}

#register {
    list-style-type: none;
    text-align: right;
    margin-top: 10px;
}

#register li {
    display: inline;
}

#register a.btn {
    color: #000000;
    font-size: 0.88em;
}

#left-button {
    border-right: 1px solid #000000;
    padding-right: 12px;
}

#right-button {
    padding-left: 10px;
}

#header {
    font-family: 'Variane Script';
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    color: #FDF6F0;
    margin-top: 40px;
    margin-bottom: 40px;
}

nav {
    margin-bottom: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid #FDF6F0;
}

#navigation {
    list-style-type: none;
    padding: 8px;
}

#navigation li {
    display: inline;
}

#navigation::after {
    content: '';
    display: block;
    clear: both;
}

#navigation a.btn {
    color: #FDF6F0;
    font-weight: 600;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#navigation a.btn:hover {
    color: #634242;
}

#navigation a.btn:active {
    color: #634242;
    background-color: #B49B79;
}

#navigation a.btn:focus {
    outline: none;
}

#search-form
{
    color: #909090;
    border-radius: 8px;
}

#search-form:focus {
    color: #000000;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    border: none;
}

#main {
    overflow: auto;
}

#arr {
    text-align: center;
}

#arr-navigation {
    list-style-type: none;
    margin: auto;
}

#arr-navigation li {
    display: inline;
    text-align: center;
}

#arr-navigation a.btn {
    color: #000000;
    font-size: 0.8em;
}

#first-arr, #second-arr, #third-arr {
    border-right: 1px solid #000000;
}

#main-container {
    margin-bottom: 20px;
}

div.gallery {
    margin-bottom: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.img-title {
    padding: 12px 12px;
    position: absolute;
    right: 14px;
    left: 14px;
    bottom: 0px;
    background: rgba(113, 113, 113, 0.6)
}

h2.product-name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-transform: lowercase;
    font-size: 2em;
    color: #FDF6F0;
    width: 92%;
    margin: 0 auto;
}

h3.product-name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-transform: lowercase;
    font-size: 1.1em;
    color: #FFFFFF;
    opacity: 1;
}

h2.product-name:first-letter, h3.product-name:first-letter {
    text-transform: uppercase;
}

.img-title p {
    color: #000000;
    margin-top: 8px;
    opacity: 1;
}

.img-container {
    margin-bottom: 24px;
}

.img-container img {
    border-radius: 8px;
    width: 92%;
    height: auto;
    margin: 0 auto;
}

div.social-networking {
    width: 92%;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

i.fa-facebook, i.fa-twitter {
    font-size: 24px;
}

.facebook, .twitter {
    font-size: 18px;
    border-radius: 8px;
}

.facebook:hover {
    color: #3B5998;
}

.twitter:hover {
    color: #FF0000;
}


@media (max-width: 767px) {
    i.fa-facebook, i.fa-twitter {
        font-size: 20px;
    }

    .facebook, .twitter {
        font-size: 16px;
        border-radius: 8px;
    }
}

@media (max-width: 540px) {
    i.fa-facebook, i.fa-twitter {
        font-size: 18px;
    }

    .facebook, .twitter {
        font-size: 14px;
        border-radius: 8px;
    }
}

@media (max-width: 460px) {
    i.fa-facebook, i.fa-twitter {
        font-size: 14px;
    }

    .facebook, .twitter {
        font-size: 10px;
        border-radius: 8px;
    }
}

@media (max-width: 360px) {
    i.fa-facebook, i.fa-twitter {
        font-size: 12px;
    }

    .facebook, .twitter {
        font-size: 8px;
        border-radius: 8px;
    }
}

p.product-price {
    font-size: 1.8em;
    color: #576A6D;
    width: 92%;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
}

p.product-description {
    font-size: 1em;
    color: #000000;
    width: 92%;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
}

div.product-add {
    width: 92%;
    margin-top: 48px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 96px;
    border-bottom: 1px solid #FDF6F0;
}

button.product-add-btn {
    background-color: #917C62;
    color: #FDF6F0;
}

button.product-add-btn:hover {
    background-color: #BDDB79;
}

a.show-cart {
    margin-top: 12px;
    background-color: #717171;
    color: #FDF6F0;
}

a.show-cart:hover {
    background-color: #BDDDDD;
    color: #634242;
}

a.show-cart:active {
    color: #FDF6F0
}

button.product-add-btn:focus, a.show-cart:focus {
    outline: none !important;
    box-shadow: none;
    border: none;
}

h3.product-quantity, h3.product-information {
    width: 92%;
    font-size: 1.2em;
    color: #576A6D;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
}

div.dropdown-alignment {
    font-size: 1.2em;
    width: 92%;
    margin-top: 16px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

ul.dropdown-menu {
    margin-top: 36px;
    width: 100%;
}

footer {
    border-top: 1px solid #FDF6F0;
    padding-top: 20px;
}

footer.row{
    overflow: hidden; 
}

footer div.col-xs-6 {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#copyright-container {
    margin-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 0px;
    height: 45px;
}

#copyright {
    font-style: italic;
    color: #FDF6F0;
}

#logo {
    text-align: right;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 45px;
}

#logo a, #logo a:visited {
    color: #000000;
}

i.fa-facebook-official, i.fa-twitter-square {
    font-size: 28px;
}

.fa-facebook-official:hover {
    color: #3B5998;
}

.fa-twitter-square:hover {
    color: #FF0000;
}

.hidden {
    display: none;
}

.form-login {
    width: 250px;
    margin: 5px;
}

.form-register {
    width: 250px;
    margin: 5px;
}

@media (max-width: 1000px) {
    #register a.btn {
        font-size: 0.76em;
    }

    #navigation a.btn {
        font-size: 1em;
    }

    #arr-navigation a.btn {
        font-size: 0.68em;
    }
}

@media (max-width: 767px) {
    #header {
        font-size: 3em;
    }
    
    #navigation a.btn {
        margin-top: 12px;
        border: 1px solid #000000;
        border-radius: 8px;
    }

    #navigation {
        padding: 12px;
    }

    #search {
        margin-top: 12px;
        padding: 0px;
    }

    h2.product-name {
        text-transform: lowercase;
        font-size: 1.6em;
    }

    p.product-price {
        font-size: 1.4em;
    }
}

@media(max-width: 707px) {        
    #arr-navigation li {
        display: block;
    }

    #first-arr, #second-arr, #third-arr {
        border-right: none;
    }

    #arr-navigation {
        position: relative;
        display: inline-block;
    }

    #copyright-container {
        padding-top: 5px;
    }
    
    #copyright {
        font-size: 0.88em;
    }
    
    i.fa-facebook-official, i.fa-twitter-square {
        font-size: 24px;
    }
}

@media (max-width: 540px) {
    #header {
        font-size: 2em;
    }

    #register a.btn {
        font-size: 1em;
        display: block;
        border: 1px solid #000000;
    }

    #left-button {
        border-right: none;
    }

    #copyright {
        font-size: 0.76em;
    }
    
    h2.product-name {
        text-transform: lowercase;
        font-size: 1.2em;
    }
    
    p.product-price {
        font-size: 1em;
    }
}

@media (max-width: 460px) { 
    #copyright {
        font-size: 0.64em;
    }
    
    .form-login {
        width: 200px;
        margin: 5px;
    }

    .form-register {
        width: 200px;
        margin: 5px;
    }
}

/* Slideshow */
#slideshow {
    margin: auto;
}

#slideshow-header, #aside-header {
    font-family: 'Variane Script';
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* Caption text */
.text {
    color: #FDF6F0;
    font-size: 1.2em;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 36px;
    position: absolute;
    bottom: 8px;
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.text span {
    display: inline-block;
    padding: 2px 16px;
    background-color: #000000;
    margin-bottom: 12px;
    border-radius: 8px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #FDF6F0;
    font-size: 1.2em;
    padding: 12px 24px;
    position: absolute;
    top: 0;
}

.numbertext span {
    display: inline-block;
    padding: 2px 16px;
    background-color: #000000;
    margin-top: 12px;
    border-radius: 8px;
}

.slide-show-image {
    width: 96%;
    display: block;
    margin: auto;
    border-radius: 8px;
}

.dot-container {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* The dots/bullets/indicators */
.dot {
  height: 14px;
  width: 14px;
  margin: 0 2px;
  background-color: #BBBBBB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 8s;
  animation-name: fade;
  animation-duration: 8s;
}

@-webkit-keyframes fade {
  from {
      opacity: .44;
  } 
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .44;
  } 
  to {
      opacity: 1;
  }
}

/* Edge bug fix */

#slideshow {
    overflow: hidden;
}

div.aside {
    max-height: 300px;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    padding: 6px;
    border: 1px solid #D1BEA9;
    border-radius: 8px;
}

aside a, aside a:hover, aside a:active {
    color: #000000;
    text-decoration: none;
}

div.aside:hover {
    background-color: #B49B79;
}

div.aside h2 {
    text-transform: lowercase;
    font-size: 1.6em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 12px;
}

div.aside p {
    font-size: 1.12em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 18px;
}

div.aside h2::first-letter {
    text-transform: uppercase;
}

/* On smaller screens */
@media (max-width: 1000px) {
    div.aside {
        margin-bottom: 12px;
    }

    div.aside h2 {
        font-size: 1.4em;
    }

    div.aside p {
        font-size: 1em;
        margin-top: 6px;
    }
}

@media (max-width: 540px) {  
  .text {
      font-size: 0.88em;
      padding-bottom: 24px;
  }
  
  .numbertext {
      font-size: 1em;
      padding: 8px 20px;
  }
}

@media (max-width: 360px) {  
  .text {
      font-size: 0.6em;
      padding-right: 6px;
      padding-left: 6px;
      padding-bottom: 12px;
  }
  
  .numbertext {
      font-size: 0.8em;
      padding: 4px 10px;
  }
}

#about-header {
    font-family: 'Variane Script';
    text-align: center;
    font-size: 2.8em;
    font-weight: 600;
    color: #FDF6F0;
    margin-top: 20px;
    margin-bottom: 20px;
}

article p {
    text-align: justify;
    color: #FDF6F0;
}

#map {
    height: 300px; 
    position: center;
    border-radius: 8px;
    margin-bottom: 12px;
}

h3.form-header {
    font-family: 'Variane Script';
    font-size: 2.4em;
    text-align: center;
    color: #FDF6F0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.sign-form {
    width: 72%;
    margin: 0 auto;
}

#sign-up, #sign-in {
    margin: 0 auto;
    text-align:center;
}

#sign-up input, #sign-in input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    border-radius: 8px;
}

#sign-up input:focus, #sign-in input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

#sign-up button, #sign-in button {
    background-color:#BDDB79;
    margin-top: 0;
    margin-bottom: 48px;
    border-radius: 8px;
}

#sign-up button:focus, #sign-in button:focus {
    outline: none;
}

@media (max-width: 707px) { 
    #map {
        height: 240px;
    }
}

@media (max-width: 540px) {  
    #sign-up-form {
        width: 86%;
    }

    h3.form-header {
        font-size: 2em;
    }
    
    #map {
        height: 200px;
    }
}

@media (max-width: 460px) {  
    #sign-up-form {
        width: 100%;
    }
    
    h3.form-header {
        font-size: 1.6em;
    }

    
    #map {
        height: 120px;
    }
}

#shopping-cart {
    font-family: 'Variane Script';
    text-align: center;
    color: #FDF6F0;
    margin-top: 12px;
    margin-bottom: 12px;
}

li.cart-item {
    list-style-type: none;
    margin-bottom: 24px;
    padding: 12px;
}

li.cart-item::after {
    content: '';
    display: block;
    clear: both;
}

div.cart-gallery {
    float: left;
    width: 150px;
    margin-right: 12px;
}

p.cart-price, p.product-quantity {
    color: #FDF6F0;
    margin-top: 22px;
    margin-bottom: 22px;
}

a.cart-remove-button, a.cart-remove-button:focus, a.cart-remove-button:active {
    display: block;
    text-decoration: none;
    color: #FDF6F0;
    background-color: #717171;
    margin-top: 12px;
    padding: 8px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

#price-list {
    border: 1px solid #D1BEA9;
}

h3.price-box {
    color: #FDF6F0;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.4em;
    padding-top: 4px;
    padding-bottom: 12px;
}
